{% extends "shared/_layout.html" %}
{% block content %}
        <div class="page-core">
            <h1>Your PyPI Account</h1>

            <div>
                Welcome to your account {{ user.name }}!
            </div>
        </div>
    </div>
{% endblock %}

