<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Python Package Index (demo)</title>

        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic|Source+Code+Pro:500">

        <link rel="stylesheet" href="{{ url_for('static', path='/external/css/bootstrap.min.css') }} ">

        <link rel="stylesheet" href="{{ url_for('static', path='/css/site.css') }} "/>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/nav.css') }} "/>

        {% block additional_css %}
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-expand-md">
            <a class="navbar-brand" href="/"><img src="{{ url_for('static', path='/img/pypi-logo.svg') }}"/></a>

            <button class="navbar-toggler navbar-toggle" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <div class="navbar-toggler-icon">
                    <div class="nav-expand-line"></div>
                    <div class="nav-expand-line"></div>
                    <div class="nav-expand-line"></div>
                </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Donate</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>

                    {% if not is_logged_in %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Login</a>
                        </li>
                    {% endif %}
                    {% if not is_logged_in %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/register" id="last_nav_link">Register</a>
                        </li>
                    {% endif %}
                    {% if is_logged_in %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                    {% endif %}
                    {% if is_logged_in %}
                        <li class="nav-item">
                            <a class="nav-link" href="/account/logout" id="last_nav_link">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="main_content">
            {% block content %}
                no contend
            {% endblock %}
        </div>

        <footer>
            <div class="copyright">
                This is a fake site built during a course.<br>
                It's meant to model / simulate the real <a href="https://pypi.org">pypi.org</a><br>
                <br>
                Copyright &copy; <a href="https://training.talkpython.fm">Talk Python Training</a>.
            </div>
        </footer>

        <script src="{{ url_for('static', path='/external/js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static', path='/external/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', path='/external/js/bootstrap.min.js') }}"></script>

        {% block additional_s %}
        
        {% endblock %}
    </body>

</html>